

h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-family: Impact, fantasy;

}

.activity-options {
    color: rgb(255, 255, 255);
    font-family:sans-serif;
    text-align: left;
    margin: 0 125px;
    text-shadow: 1px 1px 1px #000;
    font-family: Impact, fantasy;

}

form {
    width: 100%;
    font-family: Impact, fantasy;

}

form .input-field {
    margin-bottom: 15px;
    display: flex;
}

form .input-field label {
    width: 200px;
    margin-right: 10px;
    font-size: 20px;
}

form .input-field input{
    width: 100%;
    max-width: 50px;
    outline: none;
    border: .5px solid;
    transition: all 3s ease;
}

form .input-field select#type {
    width: 100%;
    max-width: 105px;
}

form .input-field select#participants {
    width: 100%;
    max-width: 35px;
    
}

form input#submit {
    width: 100%;
    text-align: center;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    font-family: Impact, fantasy;
}