.header{
  text-align: left;
}

.app-body{
  text-align: center;
}

#query-options{
  text-align: center;

}



#query-options{
  list-style-type: none;
  text-align: left;
}

input{
  text-align: left;
}
label {
  width: 240px;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  margin-right: 0px;
}





